$DHCPServers=@('dhcpserver1.example.com','dhcpserver2.example.com')

$DHCP6Scopes=@(
    @{VLAN=10;Name='clients';Network='2001:0DB8:7::/64'}
    @{VLAN=11;Name='servers';Network='2001:0DB8:8::/64'}
    @{VLAN=12;Name='site2';Network='2001:0DB8:9::/64'}
)
# The starting address to exclude on each subnet
$ExcludeStart=0
# The ending address to exclude on each subnet
$ExcludeEnd=1000